{
  "openapi": "3.0.1",
  "info": {
    "title": "Reverse Geocoding API",
    "description": "Reverse Geocoding is a process to give the closest matching address to a provided geographical coordinates (latitude/longitude). MapmyIndia reverse geocoding API provides real addresses along with nearest popular landmark for any such geo-positions on the map. <p> MapmyIndia Reverse Geocoding API Platform provides following advance features:</p><ul><li>lang (For Indic Languages)</li></ul></p> <p>Added \"lang\" parameter for language-specific search. This parameter accepts the \"hi\" (ISO 639-1 Language Code for Hindi) as a value.</p> <p><b> Note: </b> Currently this is enable for \"Hindi\" Language only</p> <h2> Skimmed Reverse Geocode:</h2> <p>It is handled through Out Post in Atlas - where it manages different <b>\"Access Tokens\"</b> according to the permission to key of the user. <b>\"Access Tokens\"</b> can be summed up to give access to different level of information. Refer the table below:</p> <ul><li>Default - village, district, subDistrict, city, state, lat, lng, area</li><li>Access Token = 1 - pincode</li><li>Access Token = 2 - sslc_nme, subl_nme, loc_nme</li><li>Access Token = 4 - street, street_dist</li><li>Access Token = 8 - houseNumber, houseName, poi, poi_dist</li><li>Access Token = 15 - full access</li></ul> <h2>Security Type:</h2> <p>This APIs follow OAuth2 based security. <b>To know more on how to create your authorization tokens, please click the `Authorize` button below. More details available <a href=\"https://www.mapmyindia.com/api/advanced-maps/doc/authentication-api.php\">here</a></b></br></br></p> <li><a href=\"https://www.mapmyindia.com/api/advanced-maps/doc/sample/mapmyindia-maps-reverse-geocoding-rest-api-example\">Live Demo</a> </br><li><a href=\"https://www.mapmyindia.com/api/login\">Login/Sing Up</a> for API key and other access. </br><h2>Other Info(s)</h2><p><ul> <li>URLs: the urls to use for UAT and Prod are: <code>https://am.mapmyindia.in/advancedmaps/v1/<licence_key>/rev_geocode?</code> and <code>http://apis.mapmyindia.com/advancedmaps/v1/<licence_key>/rev_geocode?</code></li>   <li>For any issues or questions please submit it to the support : <a href= \"https://www.mapmyindia.com/api/#f_cont\" target=\"_blank\"> API Support</a> if you do not have access to the support portal contact your service account manager with any questions.</li></ul></br> <h3>Example request:</h3> <code>http://apis.mapmyindia.com/advancedmaps/v1/<licence_key>/rev_geocode?lat=26.5645&lng=85.9914</code></br></br></br></br></p>",
    "termsOfService": "https://www.mapmyindia.com/http://apis.mapmyindia.com/advancedmaps/v1/<licence_key>/rev_geocode?api/terms-&-conditions",
    "version": "V1",
    "contact": {
      "name": "MapmyIndia API Support",
      "url": "https://www.mapmyindia.com/api/#f_cont",
      "email": "apisupport@mapmyindia.com"
    }
  },
  "tags": [
    {
      "name": "Reverse Geocoding API",
      "description": "This API search Closest Matching Address"
    }
  ],
  "paths": {
    "/{licence_key}/rev_geocode": {
      "get": {
        "tags": [
          "Reverse Geocoding API"
        ],
        "summary": "Search for closest matching address",
        "description": "MapmyIndia reverse geocoding API provides real addresses along with nearest popular landmark for any such geo-positions on the map",
        "operationId": "ReverseGeocodingAPI",
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "description": "The latitude of the location for which the address is required",
            "allowEmptyValue": false,
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lng",
            "in": "query",
            "description": "The longitude of the location for which address is required",
            "allowEmptyValue": false,
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "licence_key",
            "in": "path",
            "description": "The REST API licence key allocated to you by signing into our services and registering yourself as a developer (28 Char Alphanumeric)",
            "allowEmptyValue": false,
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "region",
            "in": "query",
            "description": "it takes in the country code. LKA, IND, BTN, BGD, NPL for Sri-Lanka, India, Bhutan, Bangladesh, Nepal respectively. Default is India (IND)",
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "204": {
            "description": "No matches we’re found for the provided query"
          },
          "400": {
            "description": "Something’s just not right with the request"
          },
          "401": {
            "description": "Access Denied."
          },
          "403": {
            "description": "Services for this key has been suspended due to daily/hourly transactions limit"
          },
          "500": {
            "description": "Something went wrong."
          },
          "503": {
            "description": "Maintenance Break"
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "http://apis.mapmyindia.com/advancedmaps/v1",
            "description": "MapmyIndia Reverse Geocoding API"
          }
        ]
      }
    },
    "/{licence_key_for_hindi}/rev_geocode": {
      "get": {
        "tags": [
          "Reverse Geocoding API"
        ],
        "summary": "Search for closest matching address will give result in Hindi",
        "description": "MapmyIndia reverse geocoding API provides real addresses along with nearest popular landmark for any such geo-positions on the map",
        "operationId": "ReverseGeocodingHindiAPI",
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "description": "The latitude of the location for which the address is required",
            "allowEmptyValue": false,
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lng",
            "in": "query",
            "description": "The longitude of the location for which address is required",
            "allowEmptyValue": false,
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "licence_key_for_hindi",
            "in": "path",
            "description": "The REST API licence key allocated to you by signing into our services and registering yourself as a developer (28 Char Alphanumeric)",
            "allowEmptyValue": false,
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Added lang parameter for language-specific search. This parameter accepts the \"hi\" (ISO 639-1 Language Code for Hindi) as a value",
            "allowEmptyValue": false,
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "region",
            "in": "query",
            "description": "it takes in the country code. LKA, IND, BTN, BGD, NPL for Sri-Lanka, India, Bhutan, Bangladesh, Nepal respectively. Default is India (IND)",
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/hindiResponse"
                }
              }
            }
          },
          "204": {
            "description": "No matches we’re found for the provided query"
          },
          "400": {
            "description": "Something’s just not right with the request"
          },
          "401": {
            "description": "Access Denied."
          },
          "403": {
            "description": "Services for this key has been suspended due to daily/hourly transactions limit"
          },
          "500": {
            "description": "Something went wrong."
          },
          "503": {
            "description": "Maintenance Break"
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "http://apis.mapmyindia.com/advancedmaps/v1",
            "description": "MapmyIndia Reverse Geocoding API"
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Coordinate": {
        "title": "Coordinate",
        "required": [
          "lat",
          "lng"
        ],
        "type": "object",
        "properties": {
          "lat": {
            "type": "number",
            "description": "Latitude",
            "format": "double",
            "example": 28.63146
          },
          "lng": {
            "type": "number",
            "description": "Longitude",
            "format": "double",
            "example": 77.217423
          }
        },
        "description": "Geographic coordinate in decimal latitude/longitude format"
      },
      "Response": {
        "title": "Response",
        "required": [
          "responseCode",
          "version",
          "Result"
        ],
        "type": "object",
        "properties": {
          "responseCode": {
            "type": "number",
            "format": "integer",
            "example": 200,
            "description": "The response code of the operation. The 400 series is for client side (yours) error while 500 series for server side (ours) error, 200 for success."
          },
          "version": {
            "type": "string",
            "example": 220.19,
            "description": "The version of the API you’re connected to."
          },
          "Result": {
            "$ref": "#/components/schemas/Result"
          }
        }
      },
      "Result": {
        "title": "Result",
        "required": [
          "houseNumber",
          "houseName",
          "poi",
          "poi_dist",
          "street",
          "street_dist",
          "subSubLocality",
          "subLocality",
          "locality",
          "village",
          "district",
          "subDistrict",
          "city",
          "state",
          "pincode",
          "lat",
          "lng",
          "formatted_address"
        ],
        "type": "object",
        "properties": {
          "houseNumber": {
            "type": "string",
            "example": "",
            "description": "The house number of the location"
          },
          "houseName": {
            "type": "string",
            "example": "",
            "description": "The name of the location"
          },
          "poi": {
            "type": "string",
            "example": "Primary Health Centre Basopatti",
            "description": "The name of the POI if the location is a place of interest (POI)"
          },
          "poi_dist": {
            "type": "string",
            "example": 936,
            "description": "Distance from nearest POI in metres"
          },
          "street": {
            "type": "string",
            "example": "Unnamed Road",
            "description": "The name of the street of the location"
          },
          "street_dist": {
            "type": "string",
            "example": 214,
            "description": "Distance from nearest Street in metres"
          },
          "subSubLocality": {
            "type": "string",
            "example": "",
            "description": "The name of the sub-sub-locality where the location exists"
          },
          "subLocality": {
            "type": "string",
            "example": "",
            "description": "The name of the sub-locality where the location exists"
          },
          "locality": {
            "type": "string",
            "example": "",
            "description": "The name of the locality where the location exists"
          },
          "village": {
            "type": "string",
            "example": "Basopatti",
            "description": "The name of the village if the location exists in a village"
          },
          "district": {
            "type": "string",
            "example": "Madhubani District",
            "description": "The name of the district in which the location exists"
          },
          "subDistrict": {
            "type": "string",
            "example": "Basopatti",
            "description": "The name of the sub-district in which the location exists"
          },
          "city": {
            "type": "string",
            "example": "",
            "description": "The name of the city in which the location exists"
          },
          "state": {
            "type": "string",
            "example": "Bihar",
            "description": "The name of the state in which the location exists"
          },
          "pincode": {
            "type": "string",
            "example": 847225,
            "description": "The pin code of the location area"
          },
          "lat": {
            "type": "number",
            "format": "double",
            "example": 26.5645,
            "description": "The latitude of the location"
          },
          "lng": {
            "type": "number",
            "format": "double",
            "example": 85.9914,
            "description": "The longitude of the location"
          },
          "formatted_address": {
            "type": "string",
            "example": "Unnamed Road, Basopatti, Basopatti, Madhubani District, Bihar. 936 m from Primary Health Centre Basopatti pin-847225 (India)",
            "description": "The complete human readable address string that is usually the complete postal address of the result"
          }
        }
      },
      "lang": {
        "title": "lang",
        "required": [
          "lang"
        ],
        "type": "object",
        "properties": {
          "lang": {
            "type": "string",
            "example": "hi",
            "description": "Added lang parameter for language-specific search. This parameter accepts the \"hi\" (ISO 639-1 Language Code for Hindi) as a value"
          }
        }
      },
      "hindiResponse": {
        "title": "hindiResponse",
        "required": [
          "responseCode",
          "version",
          "Result"
        ],
        "type": "object",
        "properties": {
          "responseCode": {
            "type": "number",
            "format": "integer",
            "example": 200,
            "description": "The response code of the operation. The 400 series is for client side (yours) error while 500 series for server side (ours) error, 200 for success."
          },
          "version": {
            "type": "string",
            "example": 220.19,
            "description": "The version of the API you’re connected to."
          },
          "Result": {
            "$ref": "#/components/schemas/hindiResult"
          }
        }
      },
      "hindiResult": {
        "title": "hindiResult",
        "required": [
          "houseNumber",
          "houseName",
          "poi",
          "poi_dist",
          "street",
          "street_dist",
          "subSubLocality",
          "subLocality",
          "locality",
          "village",
          "district",
          "subDistrict",
          "city",
          "state",
          "pincode",
          "lat",
          "lng",
          "formatted_address"
        ],
        "type": "object",
        "properties": {
          "houseNumber": {
            "type": "string",
            "example": "",
            "description": "The house number of the location"
          },
          "houseName": {
            "type": "string",
            "example": "",
            "description": "The name of the location"
          },
          "poi": {
            "type": "string",
            "example": "प्राइमरी हेल्थ सेंटर बासोपट्टी",
            "description": "The name of the POI if the location is a place of interest (POI)"
          },
          "poi_dist": {
            "type": "string",
            "example": 936,
            "description": "Distance from nearest POI in metres"
          },
          "street": {
            "type": "string",
            "example": "अननेम्ड रोड़",
            "description": "The name of the street of the location"
          },
          "street_dist": {
            "type": "string",
            "example": 214,
            "description": "Distance from nearest Street in metres"
          },
          "subSubLocality": {
            "type": "string",
            "example": "",
            "description": "The name of the sub-sub-locality where the location exists"
          },
          "subLocality": {
            "type": "string",
            "example": "",
            "description": "The name of the sub-locality where the location exists"
          },
          "locality": {
            "type": "string",
            "example": "",
            "description": "The name of the locality where the location exists"
          },
          "village": {
            "type": "string",
            "example": "बासोपट्टी",
            "description": "The name of the village if the location exists in a village"
          },
          "district": {
            "type": "string",
            "example": "मधुबनी डिस्ट्रिक्ट",
            "description": "The name of the district in which the location exists"
          },
          "subDistrict": {
            "type": "string",
            "example": "बासोपट्टी",
            "description": "The name of the sub-district in which the location exists"
          },
          "city": {
            "type": "string",
            "example": "",
            "description": "The name of the city in which the location exists"
          },
          "state": {
            "type": "string",
            "example": "बिहार",
            "description": "The name of the state in which the location exists"
          },
          "pincode": {
            "type": "string",
            "example": 847225,
            "description": "The pin code of the location area"
          },
          "lat": {
            "type": "number",
            "format": "double",
            "example": 26.5645,
            "description": "The latitude of the location"
          },
          "lng": {
            "type": "number",
            "format": "double",
            "example": 85.9914,
            "description": "The longitude of the location"
          },
          "formatted_address": {
            "type": "string",
            "example": "अननेम्ड रोड़, बासोपट्टी, बासोपट्टी, मधुबनी डिस्ट्रिक्ट, बिहार. प्राइमरी हेल्थ सेंटर बासोपट्टी से 936 मी. पिन-847225 (भारत)",
            "description": "The complete human readable address string that is usually the complete postal address of the result"
          }
        }
      }
    },
    "securitySchemes": {
      "mmi_auth": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://outpost.mapmyindia.com/api/security/oauth/token",
            "scopes": {
              "READ": "read authorization for API"
            }
          }
        }
      }
    }
  }
}